<header class="container-header">
    <div class="d-flex justify-content-between bd-highlight mb-3">
        <div class="p-2 bd-highlight logo">
            <a [routerLink]="['/']">
                <img src="assets/images/front-test-logo.png" alt="Praxio Test | Home">
            </a>
        </div>
        <div *ngIf="mostrarBtnLogout" class="p-2 bd-highlight mt-2">
            <a [routerLink]="['/logout']" routerLinkActive="router-link-active" class="btn btn-outline-secondary btn-sm btn-custom-rounded" >Logout</a>
        </div>
    </div>
</header>