<main class="container-home">
    <!-- Section Banner -->
    <section class="container text-center pt-lg-5">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto py-lg-5">
                <img src="../../../assets/images/front-test.png" alt="" class="pt-lg-5">
                <h1 class="title-banner-home pt-5">Bem vindos, esse é uma pagina teste, desenvolvida por: <strong>Diego Silva</strong>, utilizando boa
                    práticas de desenvolvimento e algumas tecnologias citadas nos cards logo abaixo.
                </h1>
                <a href="#" class="btn btn-outline-primary btn-saiba-mais btn-custom-rounded my-3">Saiba mais</a>
            </div>
        </div>
    </section>

    <!-- Section Cards -->
    <section class="container">
        <div class="row">
            <div class="col-md-10 my-4 mx-auto">
                <div class="">
                    
                    <div class="col-md-4 card-left shadow p-lg-4">
                        <h1 class="title-card mb-4">Bootstrap CSS, HTML e JS</h1>
                        <div class="img-card mx-auto d-flex flex-column justify-content-center mb-4">
                            <img src="../../../assets/images/fingerprint.png" class="mx-auto d-block" alt="">
                        </div>
                        <h2 class="subtitle-card">Com mais de 10 anos trabalhando como desenvolvedor web (full) utilizando CSS e HTML, resolvi com Bootstrap desde suas primeiras versões.</h2>
                        <button class="btn btn-outline-primary btn-custom-rounded">Saiba mais</button>
                    </div>
                    
                    <div class="col-md-4 card-center pr-5 shadow-lg p-lg-4">
                        <h1 class="title-card mb-4">Angular 11+</h1>
                        <div class="img-card img-card-center mx-auto d-flex flex-column justify-content-center mb-4">
                            <img src="../../../assets/images/fingerprint.png" class="mx-auto d-block" alt="">
                        </div>
                        <h2 class="subtitle-card">Inicie no AngularJS e logo em seguida migrei para a versão mais atuais como 2, 3...11. E sempre buscando conhecimento e utilizando alguns framesworks IONIC, NativeScript que utilizavam TypeScript como linguam de desenvimento .</h2>
                        <button class="btn btn-outline-primary btn-custom-rounded mt-lg-5 btn-card-center">Saiba mais</button>
                    </div>
                    
                    <div class="col-md-4 card-right pr-5 shadow p-lg-4">
                        <h1 class="title-card mb-4">TypeScript</h1>
                        <div class="img-card mx-auto d-flex flex-column justify-content-center mb-4">
                            <img src="../../../assets/images/fingerprint.png" class="mx-auto d-block" alt="">
                        </div>
                        <h2 class="subtitle-card">Iniando no mundo TypeScript logo vi semelhanças com as primeiras linguagens que utilizei como Delphi, ASP e obtive uma exelente produtividade.</h2>
                        <button class="btn btn-outline-primary btn-custom-rounded">Saiba mais</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
