.container-footer-large{
    background: url('./../../../assets/images/bg-front.png') no-repeat right top;
    background-position: top 100px right -440px;
    min-height: 360px;
    border-top: 1px solid #EFF0F0;
}
.list-unstyled>li>a{
    text-decoration: none;
}