<footer class="container-footer-large">
    <div class="container pt-lg-5">
        <div class="row justify-content-start">
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mt-lg-5">
                <ul class="list-unstyled mb-0">
                    <li class="mb-3"><a href="#" class="text-muted">Quem Somos</a></li>
                    <li class="mb-3"><a href="#" class="text-muted">Como Funciona</a></li>
                    <li class="mb-3"><a href="#" class="text-muted">FAQ's</a></li>
                    <li class="mb-3"><a href="#" class="text-muted">Contatos</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mt-lg-5">
                <!-- <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Disabled</a>
                    </li>
                  </ul> -->

                <ul class="list-unstyled mb-0">
                    <li class="mb-3"><a routerLink="/login" class="text-muted">Login</a></li>
                    <li class="mb-3"><a routerLink="/usuario/cadastro" class="text-muted">Cadastro</a></li>
                    <li class="mb-3"><a href="#" class="text-muted">Termos de Uso</a></li>
                    <li class="mb-3"><a href="#" class="text-muted">Privacidade</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>