html {
  height: 90%;
}
body {
  min-height: 90%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.content {
  padding: 20px;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

* {
  box-sizing: border-box;
}


.footer {
  background: #42A5F5;
  color: white;
  padding: 20px;
}

