<div class="d-flex justify-content-between bd-highlight row mt-5 mb-3 pt-3 bg-light">
  <div class="bd-highlight pl-3">
    <h1><i class="bi bi-people pr-2"></i>Clientes</h1>
  </div>
  <div class="bd-highlight pr-3">
    <button mat-button><i class="bi bi-list-ul"></i></button>
    <button mat-button><i class="bi bi-grid-3x2-gap"></i></button>
    <button mat-button [routerLink]="['add']" routerLinkActive="router-link-active">Novo</button>
  </div>
</div>


<div class="row d-flex justify-content-between">
  <div class="card col-3 p-2">
    <div class="card-body">
      <h2 class="card-title">Nome Cliente</h2>
      <h6 class="card-subtitle mb-2 text-muted">CPF: <strong>00.000.000-22</strong></h6>
      <h6 class="card-subtitle mb-2 text-muted">Email: <strong>francisco@gmail.com</strong></h6>
      <h6 class="card-subtitle mb-2 text-muted">Telefone: <strong>(86)9992-2311</strong></h6>
      <p class="card-text"></p>
      <a href="#" class="card-link">Editar</a>
      <a href="#" class="card-link">Excluir</a>
    </div>
  </div>


</div>

