<div class="d-flex justify-content-between bd-highlight row mt-5 mb-3 pt-3 bg-light">
  <div class="bd-highlight pl-3">
    <h1><i class="bi bi-people pr-2"></i>Clientes</h1>
  </div>
  <div class="bd-highlight pr-3">
    <button mat-button><i class="bi bi-list-ul"></i></button>
    <button mat-button><i class="bi bi-grid-3x2-gap"></i></button>
    <button mat-button [routerLink]="['add']" routerLinkActive="router-link-active">Novo</button>
  </div>
</div>

<div class="row">

  <!-- {{ clientes | json }} -->

<div class="row d-flex">
  <div class="col-md-3 mb-2" *ngFor="let cliente of clientes">
    <div class="card">
      <div class="card-body card-block">
        <h2 class="card-title">{{cliente.nome}}</h2>
        <h6 class="card-subtitle mb-2 text-muted">CPF: <strong>{{cliente.cpf}}</strong></h6>
        <h6 class="card-subtitle mb-2 text-muted">Email: <strong>{{cliente.email}}</strong></h6>
        <h6 class="card-subtitle mb-2 text-muted">Telefone: <strong>{{cliente.telefone}}</strong></h6>
        <p class="card-text"></p>
        <button mat-flat-button color="primary" [routerLink]="['add']" routerLinkActive="router-link-active" class="card-link">Editar</button>
        <button mat-flat-button color="warn" routerLinkActive="router-link-active" class="card-link">Excluir</button>
      </div>
    </div>
  </div>
</div>
</div>
